# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/modules.xml
/projectSettingsUpdater.xml
/.idea.src.iml
/contentModel.xml
# Datasource local storage ignored files
/../../../../../../../../../../:\Users\Lennard\Projekte\Unity\die-gulde\src\.idea\.idea.src\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
