# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/modules.xml
/.idea.die-gulde.iml
/contentModel.xml
/projectSettingsUpdater.xml
# Datasource local storage ignored files
/../../../../../../../../../../:\Users\Lennard\Projekte\Unity\die-gulde\src\.idea\.idea.die-gulde\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
